<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch API</title>
    <style>
      table,
      th,
      td {
        border: solid black 1px;
        border-collapse: collapse;
        padding: 5px 10px;
      }
    </style>
    <script src="https://unpkg.com/petite-vue" defer init></script>
  </head>

  <body v-scope="dataset()">
    <p>
      <button @click="fetchData">データ取得</button>
    </p>
    <table v-if="data">
      <tr>
        <th v-for="category of ['名前', 'タイプ', '重さ', '特性']">{{category}}</th>
      </tr>
      <tr v-for="item of data">
        <td v-for="d of item">{{d}}</td>
      </tr>
    </table>
  </body>
  <script>
    function dataset() {
      return {
        data: false,
        async fetchData() {
          const res = await fetch('/data.json');
          const obj = await res.json();
          this.data = obj.list;
          console.log(JSON.stringify(this.data, null, 2));
        }
      };
    }
  </script>
</html>
