<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch API</title>
    <style>
      table,
      th,
      td {
        border: solid black 1px;
        border-collapse: collapse;
        padding: 5px 10px;
      }
    </style>
    <script src="https://unpkg.com/petite-vue" defer init></script>
  </head>

  <body v-scope="dataset()">
    <p>
      <button @click="fetchData">データ取得</button>
    </p>
    <table border="1">
      <tr>
        <th>名前</th>
        <th>タイプ</th>
        <th>重さ</th>
        <th>特性</th>
      </tr>
      <tr v-for="pkmn of list">
        <td v-text="pkmn.name"></td>
        <td v-text="pkmn.type"></td>
        <td style="text-align: right" v-text="pkmn.weight+'kg'"></td>
        <td v-text="pkmn.ability"></td>
      </tr>
    </table>
    <form @submit.prevent="addItem">
      <label>name: <input v-model="name" /></label><br />
      <label for="type">type:</label>
      <select id="type" v-model="type">
        <option>ほのお</option>
        <option>みず</option>
        <option>でんき</option>
        <option>あく</option>
        <option>エスパー</option>
      </select>
      <br />
      <label>weight: <input v-model="weight" /></label><br />
      <label>ability: <input v-model="ability" /></label><br />

      <button>登録</button>
    </form>
  </body>
  <script>
    function dataset() {
      return {
        list: [],
        name: '',
        type: 'ほのお',
        weight: '',
        ability: '',
        async fetchData() {
          const res = await fetch('data.json');
          if (!res.ok) {
            alert('データの取得に失敗しました');
            return;
          }
          const data = await res.json();
          this.list = data.list;
        },
        addItem() {
          if (!this.name || !this.weight || !this.ability) return;
          this.list.push({
            name: this.name,
            type: this.type,
            weight: Number(this.weight),
            ability: this.ability
          });
          this.name = '';
          this.weight = '';
          this.ability = '';
        }
      };
    }
  </script>
</html>
